.card-wrapper {
  width: 33%;
  padding: 0 1rem;
  box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.1);
  box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.1);
  .cardImg-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .cardText {
    margin-top: 0;
  }
}
