.title-wrapper {
  margin-bottom: 2rem;
  .title-section, .subtitle {
    font-family: 'Soviet', sans-serif;
  }
  .title-section {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.25rem;
  }
  .subtitle {
    margin-top: .5rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
}
